:root{
    --rust: #ee4e34;
    --beige: #e0a96d;
    --neutral: #fcedda;
    --action: #42b9f5;
    --primary: #ffffff;
    --secondary: #d0d0d0;
}

body {
    background-color: var(--neutral);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(90deg, #f08d7e 0%, var(--rust) 75%);
    color: #ffffff;
}

.header h1{
    color: var(--primary);
    font-size: 40px;
}

.header h2{
    color:var(--secondary);
}

.header div {
    padding-top: 10px;
    margin-right: 20px;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

a {
    color: var(--primary);
    text-decoration: none;
}


.header div ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 4px;
    border-left: var(--action) solid 5px;

}

@media screen and (max-width: 1200px){
    .header{
        flex-direction: column;
    }
    .header div ul li{
        display:block;
        margin: 5px;
    }
    
}